{% extends "base.html" %} 
{% block title %} 
Home Page 
{% endblock %}


{% block content %}

    <h1>Real-time Speech Transcription</h1>
    <button id="recordButton">Start Recording</button>
    <button id="stopButton" disabled>Stop Recording</button>
    <div id="transcription"></div>

    <script>
        let mediaRecorder;
        let audioChunks = [];

        document.getElementById('recordButton').addEventListener('click', async() => {
            try{
                const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
                mediaRecorder = new MediaRecorder(stream);
                mediaRecorder.start();

                mediaRecorder.addEventListener('dataavailable', event => {
                    audioChunks.push(event.data);
                });

                mediaRecorder.addEventListener('stop', async() => {
                    try{
                        const audioBlob = new Blob(audioChunks, { type: 'audio/wav'});
                        const formData = new FormData();
                        formData.append('audio', audioBlob);

                        const response = await fetch('/transcribe/',{
                            method: 'POST',
                            headers: {
                                'Content-Type': 'audio/wav'
                            },
                            body: formData
                        });

                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }

                        const result = await response.json();
                        document.getElementById('transcription').innerText = result.transcription;
                    } catch (error) {
                        console.error('Error trancribing audio:', error);
                        "alert('There was an error transcribing the audio');"
                    }
                });
                document.getElementById('recordButton').disabled = true;
                document.getElementById('stopButton').disabled = false;
            } catch (error) {
                console.error('Error accessing the audio stream:', error);
                alert('There was an error accessing the audio stream.')
            }
        });
        document.getElementById('stopButton').addEventListener('click', () => {
            mediaRecorder.stop();
            document.getElementById('recordButton').disabled = false;
            document.getElementById('stopButton').disabled = true;
        });
    </script>
{% endblock %}
